MAPBOX_ACCESS_TOKEN=your_mapbox_public_token_here
ANTHROPIC_API_KEY=your_antopic_public_token_here
API_BASE_URL=http://localhost:3002/api
RESEND_API_KEY=your_resend_private_token_here
RESEND_FROM_EMAIL=noreply@yaya.work
TOKEN_DEPURACION_PIXEL_6_API_36=3BB5F6BB-0FDA-41C2-87B6-709F6B626B10
PIXEL_FOLD_API_35=3c612df1-bccf-47ab-b220-f5b5caae7053